@using IntegratedLibrary
@using IntegratedLibrary.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a href="C:\Users\shres\source\repos\sumitra-source\newapp\IntegratedLibrary\Views\_ViewImports.cshtml">C:\Users\shres\source\repos\sumitra-source\newapp\IntegratedLibrary\Views\_ViewImports.cshtml</a>